* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Roboto", monospace;
  font-size: 14px;

  --light-blue: rgb(50, 135, 240);
  --grey: rgb(235, 235, 245);
  --bold: 700;
  --light-bold: 500;

  --row-size: clamp(150px, 20vh, 400px);
  --pc-gap: 20px;
  --ac-gap: 28px;
  --tc-gap: 12px;

  --pc-height: calc(var(--row-size) * 3 + var(--pc-gap) * 2);
}

.flex   { display: flex; }
.col    { flex-direction: column; }
.flex-1 { flex: 1; }
.al-cen { align-items: center; }
.pfp-l  { width: 60px; height: 60px; border-radius: 50%; background-color: rgb(235, 235, 235); }
.pfp-s  { width: 40px; height: 40px; border-radius: 50%; background-color: rgb(235, 235, 235); }

.interact:hover,
.interact-container > *:hover,
.interact-box-container i:hover {
  transform: translateY(-4px);
  text-shadow: 0 4px rgba(0, 0, 0, 0.3);

  transition: all 0.2s ease;
}

.interact:active,
.interact-container > *:active,
.interact-box-container i:active {
  transform: translateY(2px);

  transition: all 0.05s ease;
}

.interact-container-noshadow > *:hover {
  transform: translateY(-4px);

  transition: all 0.2s ease;
}

.interact-container-noshadow > *:active {
  transform: translateY(2px);

  transition: all 0.05s ease;
}

.interact-box:hover,
.interact-box-container > *:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);

  transition: all 0.2s ease;
}

.interact-box:active,
.interact-box-container > *:active {
  transform: translateY(1px);

  transition: all 0.05s ease;
}

.grid4x4 {
  --header-height: 150px;

  margin: 0 auto 0;
  height: 100vh;
  width: 80vw;

  display: grid;
  grid-template: var(--header-height) calc(100vh - var(--header-height)) / 250px 1fr;
}



/* SIDEBAR STYLES */

.sidebar {
  background-color: var(--light-blue);

  grid-area: 1 / 1 / 3 / 2;

  padding: 16px;
  color: white;
}

.sidebar h1 {
  margin-bottom: 48px;
  font-size: 2.2rem;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar li {
  margin-bottom: 16px;
  font-size: 1.3rem;
  font-weight: var(--bold);
}

.sidebar li:nth-child(7) {
  margin-top: 40px;
}

.sidebar i {
  width: 40px;
  text-align: center;
}



/* HEADER STYLES */

.grid4x4 > header {
  background-color: white;

  grid-area: 1 / 2 / 2 / 3;

  padding: 16px 48px;

  display: grid;
  grid-template: 2fr 3fr / 1fr;
  place-content: center;
}

/* HEADER SEARCH STYLES */

header > search {
  gap: 16px;
}

header > search i {
  width: 24px;
  text-align: center;
  font-size: 1.3rem;
}

header > search > input[type="search"] {
  --height-r1: 24px;
  height: var(--height-r1);
  border-radius: calc(var(--height-r1) / 2);

  border: none;
  background-color: var(--grey);

  padding-left: 8px;
  overflow: scroll;
}

header > search > input[type="search"]:focus {
  outline: 2px solid black;
}

header > search > button {
  all: unset;
}

#user-name-small {
  padding: 0 16px;

  width: max-content;
  min-width: 64px;

  font-size: 1.1rem;
  font-weight: var(--bold);
}

header {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  clip-path: inset(0 0 -16px 0);
}

/* HEADER DIV STYLES */

header > div > img {
  margin-right: 24px;
}

header > div > p {
  margin-right: auto;
  font-weight: var(--light-bold);
}

.user-names {
  font-size: 1.5rem;
  font-weight: var(--bold);
}

header > div > button {
  all: unset;

  --height-r2: 32px;

  margin-left: 24px;

  width: 80px;
  height: var(--height-r2);
  border-radius: calc(var(--height-r2) / 2);

  background-color: var(--light-blue);

  text-align: center;
  color: white;
  font-weight: var(--light-bold);
}



/* CONTENT STYLES */

.grid4x4 > main {
  background-color: var(--grey);

  grid-area: 2 / 2 / 3 / 3;

  display: grid;
  grid-template: 40px 1fr 40px 1fr / 5fr 2fr;
  column-gap: 12px;

  padding: 24px 16px 64px;
}

main > h2 {
  font-size: 1.2rem;
  font-weight: var(--light-bold);
}

.projects-heading {
  grid-area: 1 / 1 / 2 / 2;
}

.projects-container {
  height: calc(var(--pc-height) + var(--pc-gap));
  grid-area: 2 / 1 / 5 / 2;

  display: grid;
  grid-template: repeat(3, calc(var(--row-size) + var(--pc-gap) / 3)) / repeat(2, 1fr);
  grid-auto-rows: var(--row-size);

  gap: var(--pc-gap);

  overflow-y: scroll;
}

.announcements-heading {
  grid-area: 1 / 2 / 2 / 3;
}

.announcements-container {
  --ac-height: calc((var(--pc-height) - 40px) / 2);
  --ac-padding: var(--ac-gap);

  grid-area: 2 / 2 / 3 / 3;

  display: grid;
  grid-template: repeat(3, 1fr) / 1fr;
  row-gap: var(--ac-gap);

  height: var(--ac-height);

  font-size: 0.8rem;

  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

  padding: var(--ac-padding);
}

.trending-heading {
  grid-area: 3 / 2 / 4 / 3;
}

.trending-container {
  --tc-height: var(--ac-height);
  --tc-padding: calc(var(--tc-gap) * 0.75);

  grid-area: 4 / 2 / 5 / 3;

  display: grid;
  grid-template: repeat(4, var(--tc-height));
  row-gap: var(--tc-gap);

  padding: var(--tc-padding);

  font-size: 0.6rem;

  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

/* PROJECTS STYLES */

.pc {
  height: 100%;

  padding: 0 20px;

  background: linear-gradient(to right, rgb(255, 190, 40) 3%, white 3%);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.pc > h3 {
  margin: 24px 0 8px;
  height: min-content;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.pc > p {
  height: 60px;
  overflow: auto;
}

.pc > div {
  margin: auto 0 16px;
  justify-content: right;
  gap: 20px;
}

.pc > div > button {
  all: unset;

  width: 16px;
  font-size: 1.2rem;
  text-align: center;
}

/* ANNOUNCEMENTS STYLES */

.ac {
  height: calc((var(--ac-height) - var(--ac-gap) * 2 - var(--ac-padding) * 2) / 3);
}

.ac > p {
  height: 80%;
  overflow: hidden;
}

/* TRENDING STYLES */

.tc {
  height: calc((var(--tc-height) - var(--tc-gap) * 3 - var(--tc-padding) * 3) / 4);

  padding: 0 12px;
  justify-content: left;

  font-size: 0.9rem;
}

.tc .description {
  display: inline-block;
  max-width: 20ch;

  color: grey;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tc img {
  margin-right: 24px;
}
